@font-face {
	font-family: 'Montserrat'; 
	src: url('../fonts/Montserrat-VariableFont_wght.ttf'); 
}
@font-face {
	font-family: 'PlayfairDisplay'; 
	src: url('../fonts/PlayfairDisplay-VariableFont_wght.ttf'); 
}

.background_main{
	background-color:#FFFD73;
}
.title_main{
	font-family: 'PlayfairDisplay'; 
	font-size:48px;
}
.description_main{
	font-family: 'Montserrat'; 
	font-size:24px;
}
.top_main{
	padding-top: 55px;
}
.color_font{
	color: #524242;
}

.title_font{
	font-family: 'PlayfairDisplay'; 
	font-size:40px;
}

